# ===================================
# Global ignores
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

/node_modules/
/package-lock.json
/package.json

# ===================================
# Symfony / PHP
/vendor/
/var/
/.env
/.env.local
/.env.dev
/.env.test
/.env.prod
.env.*.local
/legacy/public/bundles/
# /node_modules/
/phpunit.result.cache
**/jwt/*.pem

# ===================================
# Angular / Node
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.env
/frontend/.env.local

# ===================================
# Docker
docker/*.pid
docker/*.sock
docker/mysql-data/
docker/logs/
docker/tmp/

# ===================================
# Others
*.swp
*.bak
*.tmp
docs/phpdoc/
/.qodo/

# ===================================
# Composer
legacy/composer.lock

# ===================================
# Yarn / npm
package-lock.json
yarn.lock
pnpm-lock.yaml





legacy/public/test.php
vendor
/legacy/composer.json
/legacy/composer.lock
/doctum.phar

doctum.php

docs/cache/


/backend/config/jwt/public.pem
/backend/config/jwt/private.pem
/backend/.env
/backend/.env.test

backend/.env.test

backend/.env
