framework:
    messenger:
        transports:
            # Single async transport using Doctrine (configured by env var)
            async: '%env(MESSENGER_TRANSPORT_DSN)%'

        routing:
            # Send mail + notifications through the async transport
            Symfony\Component\Mailer\Messenger\SendEmailMessage: async
            Symfony\Component\Notifier\Message\SmsMessage: async
            Symfony\Component\Notifier\Message\ChatMessage: async

